<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Potion infos</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th, td {
            border-bottom: 1px solid #ddd;
            padding: 10px 5px;
            text-align: left;
        }
    </style>
</head>
<body>
<h3>Potions infos</h3>
<span th:text="|Id: ${potion.id}|">Id</span><br>
<span th:text="|Name: ${potion.name}|">Name</span><br>
<span th:text="|Power: ${potion.power}|">Power</span><br>
<h3>Ingredients</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="potionIngredient : ${potionIngredients}">
        <td th:text="${potionIngredient.ingredient.name}">name</td>
        <td>
            <a th:href="@{/potion/ingredient/remove(idPotion=${potion.id},idIngredient=${potionIngredient.ingredient.id})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>